{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <div class="example-wrapper">
                <h1>Admin section</h1>
                <ul>
                    {% for user in users %}
                        <li>{{ user.email }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>

{% endblock %}
