/*====================
    PRODUCT SHOW PAGE
====================*/

.nav-space {
  margin-top: 150px;
}

.nav-space-checkout {
  margin-top: 50px;
}

.product-show-img {
  height: 400px;
}

.product-show-details-container {
  border: 1px solid #efefee;
  padding: 20px;
}

.product-price {
  background: #efefee;
  font-size: 1.2em;
}

.product-description>p {
  line-height: 1.5em;
}