@import '~bootstrap';
@import '~font-awesome';



html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 160px;
}

a{
    text-decoration: none;

}

.sheep-flash {
    margin-top: 50px;
}

.ssc-logo {
    width: 80px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
}

.hero-space {
    height: 550px;
    width: 100%;
    background-color: gray;
    margin-bottom: 30px;
    padding-top: 150px;
}

.hero-space-headline {
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
    margin-top:0;
    margin-bottom: 40px;
}

.hero-space-headline, .hero-space-text {
    color: #fff;
    text-align: center;
}

.shear-product {
    margin-bottom: 35px;
}

.shear-product-img {
    margin-bottom: 10px;
}

.shear-product-title {
    font-weight: bold;
}

.shear-product-title, .shear-product-title>span {
    color: #6d665c;
}

